@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-voltra-bg: #1c1c1c;
  --color-voltra-text: #f7f8fc;
  --color-voltra-accent: #ceff05;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--color-voltra-text);
  background-color: var(--color-voltra-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: 'Blatant';
  src: url('./assets/fonts/Blatant.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

a {
  font-weight: 500;
  color: var(--color-voltra-text);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-voltra-accent);
}



body {
  font-family: "Poppins";
  background-color: var(--color-voltra-bg);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 80%;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-voltra-bg);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-voltra-accent);
}
button:focus,
button:focus-visible {
  outline: 2px solid var(--color-voltra-accent);
  outline-offset: 2px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-voltra-text);
    background-color: var(--color-voltra-bg);
  }
  a:hover {
    color: var(--color-voltra-accent);
  }
  button {
    background-color: var(--color-voltra-bg);
  }
}